html {
	margin: 0;
	padding: 0;
	}
body {

	font: 75% georgia;
	line-height: 1.88889;
	color: darkblue;
	background: #fff url("http://gift-of-life.org/wp-content/uploads/2014/06/light_blue_background-wallpaper-1920x1080-1.jpg");
	background-size: 2000px 1500px

	}
	h1{
		color:darkblue;
		font:5em georgia;
		text-align: center;
	}
	h2{
		color:darkblue;
		font:2.5em georgia;
		text-align: center;
	}
p {
	color:darkblue;
	font:2.5em georgia;
	text-align: center;
	margin-top: 0;
	}
h3 {
  color: #darkblue;
	font: italic normal 1.5em georgia, sans-serif;
	letter-spacing: 1px;
	text-align: center;
	margin-bottom: 0;
	}
ul{
	font-size: x-large;
}
	.list {
	  display: block;
	  width: 500px;
	  margin-left: auto;
	  margin-right: auto;
	}
	.list-2 {
		display: block;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
	}

.list-3 {
	display: block;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
