html {
	margin: 0;
	padding: 0;
	}
body {
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #ffffff;
	background: #fff url(http://wallpapercave.com/wp/btidxjR.jpg)

	}
p {
	margin-top: 0;
	text-align: justify;
	}
h3 {
  color: #ffffff;
	font: italic normal 2.5em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	}
h1{
	color: white


}
a:link {
	color: white;
}
a:visited {
	color:teal
}
