html {
	margin: 0;
	padding: 0;
	}
body {

	font: 75% georgia;
	line-height: 1.88889;
	color: darkblue;
	background-image: url("gradient.jpg");

	}
	h1{
		color:darkblue;
		font:5em georgia;
		text-align: center;
	}
	h2{
		color:darkblue;
		font:2.5em georgia;
		text-align: center;
	}
p {
	color:darkblue;
	font:2.5em georgia;
	text-align: center;
	margin-top: 0;
	}
h3 {
  color: #darkblue;
	font: italic normal 1.5em georgia, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 0;
	}
ul{
	font-size: x-large;
}
	.list {
	  display: block;
	  width: 500px;
	  margin-left: auto;
	  margin-right: auto;
	}
